img {
  width: 500px;
  height: auto;
}
header {
  background-color: bisque;
}
computer-old img {
  width: 1000xp;
  height: auto;
}
img {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 15px auto;
}
body {
  background-color: rgb(240, 240, 233);
}
@font-face {
  font-family: newfont;
  src: url(./fonts/PlaywriteNZBasic-Thin.woff2);
}
h2,
h3 {
  font-family: newfont;
}
@font-face {
  font-family: Margine;
  src: url(./fonts/Margarine-Regular.woff2);
}
h1 {
  font-family: Margine;
}
h1,
h2,
h3 {
  border: 2px solid gray;
  padding: 15px;
  margin: 15px 0;
  border-radius: 20px;
}
